@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: "Lato";
	src: url('../fonts/lato.ttf');
}

@font-face{
	font-family: "LatoReg";
	src: url('../fonts/latoreg.ttf');
}

@font-face{
	font-family: "LatoBold";
	src: url('../fonts/latobold.ttf');
}

.hero-section {
	grid-template-areas: 'stack' ;
	isolation: isolate;
}

.hero-section > *{
	grid-area: stack;
}
body .hero-section  *:hover{
	outline: limegreen solid;
	transition: 150ms;
}
