@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: "Lato";
	src: url('../fonts/lato.ttf');
}

@font-face{
	font-family: "LatoReg";
	src: url('../fonts/caros.otf');
}

@font-face{
	font-family: "LatoBold";
	src: url('../fonts/latobold.ttf');
}

.hero-section {
	grid-template-areas: 'stack' ;
	isolation: isolate;
}


.hero-section > *{
	grid-area: stack;
}
body .text-container  *{
	outline: lie solid;
	transition: 150ms;
}


body .hero-section  *:hover{
	/*outline: red solid;*/
	transition: 150ms;
}
body .text-container:has(*:hover)  .text-container *:not(*:hover){
	outline: transparent solid;
	transition: 150ms;
}



